<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce Store{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="{% url 'index' %}" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">E-Commerce Store</span>
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3">
                    <a href="{% url 'index' %}" class="py-2 px-4 font-medium text-gray-500 rounded hover:bg-violet-500 hover:text-white transition duration-300">Home</a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-white shadow-lg mt-12">
        <div class="max-w-6xl mx-auto px-4 py-6">
            <p class="text-center text-gray-500">© 2025 E-Commerce Store. Все права защищены. @dmitryace</p>
        </div>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>